*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Main Content */


.container, .data, .performance, .statistics, .timeDivContainer, #startTime, .raceTrack, .playerContainer, .material, .justifier, .optContainer, #raceAgain, .resultsContainer, .results, .signHeader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: white;
  height: 70px;
  width: 385px;
  border-radius: 5px;
  flex-flow: row wrap;
}
.data{
  flex-flow: row nowrap;
  width: 100%;
}
#profPic{
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background-color: gray;
  border-radius: 5px;
}
#uName{
  height: 30px;
  margin-left: 5px;
  font-size: 20px;
}
.performance{
  background-color: skyblue;
  height: 30px;
  width: 85px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: default;
}
#averSpeedL{
  width: 80px;
}
#pracRaces{
  width: 45px;
  margin-right: 5px;
}
#bestRace{
  width: 70px;
}
.statistics{
  padding: 5px;
  background-color: skyblue;
}
#greeting{
  font-family: cursive;
  font-size: 40px;
}
.welcome{
  text-align: center;
}
.timeDivContainer{
  justify-content: center;
}
#timeDiv{
  margin-top: 20px;
  text-align: right;
  width: 62.5%;
}
#startTime{
  height: 45px;
  width: 300px;
  border: 2px solid black;
  background-color: white;
  position: absolute;
  margin-top: 20px;
  margin-left: 40%;
  padding: 7px;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}
.raceTrack{
  height: 70px;
  justify-content: center;
}
.actualTrack{
  height: 70px;
  width: 67.5%;
  max-width: 67.5%;
  border-bottom: 3px dashed orange;
}
#Car{
  height: 60px;
  width: 100px;
  background-image: url("Pictures/clientCar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.Pcar{
  height: 60px;
  width: 100px;
  background-image: url("Pictures/Car.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.wpmCompleted{
  height: 50px;
  width: 80px;
  margin-top: 5px;
  padding-left: 5px;
}
.rank{
  font-size: 14px;
  visibility: hidden;
  font-family: Lato, sans-serif;
}
.wpm{
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #638e8e;
  font-size: 16px;
}
.playerContainer{
  width: 100px;
  align-items: top;
}
.Pname{
  padding-top: 32.5px;
  padding-right: 5px;
  width: 150px;
  cursor: default;
  font-size: 18px;
  font-weight: 500;
  margin-left: -150px;
  text-align: right;
}
.material{
  margin-top: 10px;
}
.justifier{
  width: 73.5%;
  padding: 7.5px;
  border-radius: 5px;
  justify-content: center;
  flex-flow: row wrap;
  background-color: skyblue;
}
#text{
  font-size: 18px;
  margin: 5px;
}
#font{
  color: rgb(0, 183, 255);
}
#slice{
  text-decoration: underline;
}
#currentChar{
  box-sizing: border-box;
  border-left: 1px solid black;
  text-decoration: inherit;
}
#inputBox{
  width: 100%;
  height: 35px;
  font-size: 19px;
  padding-left: 2.5px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  font-family: Lato, sans-serif;
  font-weight: 500px;
  color: dimgray;
  border: 2px solid dimgray;
  transition: border .4s;
}
#inputBox:focus{
  border: 2px solid black;
}
.optContainer{
  margin-top: 20px;
}
#raceAgain{
  height: 45px;
  width: 150px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(0, 183, 255);
}
#raceAgain:hover{
  background-color:rgb(0, 166, 231)
}
.resultsContainer{
  justify-content: center;
  display: none;
}
.results{
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  height: 225px;
  width: 73.5%;
  border-radius: 5px;
  background-color: skyblue;
  border: 2px solid rgb(0, 183, 255)
}
.sideLogo{
  height: 225px;
  width: 22.5%;
  padding-top: 35px; padding-left: 35px;
  border-right: 2px solid rgb(0, 183, 255);
}
.actualResults{
  width: 77.5%;
}
.header{
  height: 60px;
  padding-left: 10px;
  font-size: 16px;
  border-bottom: 2px solid rgb(0, 183, 255);
}
.header span{
  font-size: 25px;
}
.resultChild{
  margin-top: 15px;
  padding-left: 15px;
  font-size: 18px;
}
.resultChild:nth-child(5){
  font-size: 14px;
}

/* Sign Up page */

.signBox{
  height: 280px;
  width: 350px;
  background-color: white;
  border: 2px solid rgb(0, 183, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.signHeader{
  height: 40px;
  font-size: 20px;
  background-color: rgb(0, 183, 255);
  color: white;
  cursor: default;
}
.signForm{
  padding: 35px;
}
.imgTitle{
  margin-bottom: 5px;
}
.title{
  margin-top: 10px;
}
.formInputs{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid dimgray;
  transition: border-bottom .4s;
  padding: 5px;
}
.formInputs:focus{
  border-bottom: 2px solid black;
}
#submitBtn{
  box-sizing: content-box;
  float: right;
  font-size: 16px;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  margin-top: 15px;
  padding: 10px;
}
#submitBtn:hover{
  background-color: rgb(36, 36, 36);
}